/* @author Mitchell Nemitz */

div.buttonDiv {
	width: 120px;
	padding: 0px !important;
	font-size: 12px !important;
	
	margin-top: 12px;
	margin-right: 12px;
}

div.buttonDiv a {
	color: black !important;
}

#buttonContainer {
	float: right;
}

.ui-button {
	color: black !important;
	padding: 0px !important;
	font-size: 12px !important;
}

.edit-button {
	width: 120px;
	margin-top: 12px;
	margin-right: 12px;
}