/* @author Mitchell Nemitz */

div.login {
	width: 348px !important;
	border: 1px solid grey;
	
	padding: 0px;
	margin: 0px auto;
	margin-top: 48px;
}

div.login td {
	border: none !important;
}

div.login table {
	border: none !important;
}

#loginUser_userBean_username {
	width: 240px;
}

#loginUser_userBean_password {
	width: 240px;
}

#userLoginForm table {
	width: 348px !important;
	
	margin: 0px auto;
	margin-top: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
}

#userLoginForm table td {
	border: none !important;
}

#loginDiv {
	width: 100%;
	float: right;
	padding: 6px;
}