div.login {
	width: 340px;
	margin: 0px auto;
	margin-top: 48px;
	border: 1px solid grey;
}

#loginUser_userBean_username {
	width: 240px;
}

#loginUser_userBean_password {
	width: 240px;
}

#loginUser_Login {
	
}

.wwFormTable {
	margin: 0px auto;
	padding-top: 4px;
	padding-bottom: 4px;
}