/* @author Mitchell Nemitz */

* {
	margin: 0px;
	font-family: Tahoma;
}

html, body {
	margin: 0px;
	padding: 0px;
	border: none;
	height: 100%;
	width: 100%;
}

body {
	background: #fff;
	font-family: Sans-serif;
}

#debug {
	display: none;
}

#container {
	width: 100%;
	min-width: 1230px;
	
	min-height: 100%;
	height: auto !important;
	height: 100%;
	
	background: #fff;
	
	margin: 0px auto -24px;
}

#content {
	padding: 6px;
	padding-bottom: 30px;
}

#scrollContainer {
	clear: both;
	
	width: 100%;
	overflow: auto;
	border: 1px solid grey;
}

#editContainer {
	float: left;
	width: 440px;
	overflow: auto;
	margin-top: 12px;
	margin-bottom: 12px;
	border: 1px solid grey;
}

#panel2 {
	width: 600px;
	margin: 0 auto;
}


/* Defaults for data display*/
table {
	width: 100%;
	overflow: auto;
	border-collapse: separate;
}

th {
	margin: 0px;
	padding: 4px;
	text-decoration: underline;
	background: #eee;
}

td {
	border: 1px solid #ccc;
	margin: 0px;
	padding: 4px;
}
