* {
	margin: 0px;
	font-family: Tahoma;
}

html, body {
	margin: 0px;
	padding: 0px;
	border: none;
	height: 100%;
	width: 100%;
}

body {
	background: #eee;
	font-family: Sans-serif;
}

#debug {
	display: none;
}

#container {
	width: 100%;
	min-width: 1140px;
	
	min-height: 100%;
	height: auto !important;
	height: 100%;
	
	background: #fff;
	
	margin: 0px auto -24px;
}

#content {
	padding: 6px;
	padding-bottom: 30px;
}

#addDiv {
	display: inline-block !important;
	clear: both;
	width: 120px;
	
	margin-top: 12px;
	text-align: center;
	
	background: #eee;
	
	border: 1px solid grey;
	padding: 4px;
}

#addDiv a {
	color: black;
	text-decoration: none;
}

#scrollContainer {
	width: 100%;
	overflow: auto;
}

table {
	width: 100%;
	border: 1px solid grey;
	/* This adds scroll bars */
	overflow: auto;
}

th {
	margin: 0px;
	padding: 4px;
	text-decoration: underline;
}

td {
	border: 1px solid #ccc;
	margin: 0px;
	padding: 4px;
}
