#menu {
	background: #0d58a6;
	height: 30px;
	border-bottom: 1px solid grey;
}

ul.navbar {
	width: 100%;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

li.navitem {
	display: inline-block;
}

a.currentpage {
	background: white;
	border-bottom: 1px solid white;
}

a.navlink, a.navlink:active, a.navlink:visited {
	display: inline-block;
	
	min-width: 80px;
	height: 21px;
	line-height: 21px;
	
	color: black;
	background: #ccc;
	text-align: center;
	text-decoration: none;
	
	margin-left: 4px;
	margin-top: 6px;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	
	border-top: 1px solid grey;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
}

a.navlink:hover {
	background: white;
	border-bottom: 1px solid white;
}
