<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<!-- Database Configuration -->
	<import resource="classes/resources/spring/config/DataSource.xml" />
	<import resource="classes/resources/spring/config/Hibernate.xml" />
 
 	
 	<bean id="urlMapping"     
     class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">    
       <property name="interceptors">
         <list>
              <ref bean="openSessionInViewInterceptor"/>
         </list>
       </property>
	  </bean>
	  <bean name="openSessionInViewInterceptor"  
	    class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor">
	       <property name="sessionFactory"><ref bean="sessionFactory"/></property>
	  </bean>

 	
	<!-- Beans Declaration -->
	<import resource="classes/resources/spring/UserBean.xml" />
	<import resource="classes/resources/spring/ContactBean.xml" />
	<import resource="classes/resources/spring/ContractorBean.xml" />
	<import resource="classes/resources/spring/LocationBean.xml" />
	<import resource="classes/resources/spring/VehicleTypeBean.xml" />
	<import resource="classes/resources/spring/VehicleBean.xml" />
	<import resource="classes/resources/spring/DriverBean.xml" />
	<import resource="classes/resources/spring/ServiceTechnicianBean.xml" />
	<import resource="classes/resources/spring/MaintenanceOrderBean.xml" />

</beans>